.Menu {
  display: flex;
}

.Menu_Content{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #5454546a;
  z-index: 10000;
}

.FaTimes{
  position: absolute;
  right: 1rem;
  top: 2rem;
}

.MenuIcon {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  z-index: 999;
}

.MenuNav {
  
  width: 50% ;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 4px;
}

.MenuList {
  list-style: none;
  padding: 0;
}

.MenuItem {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 1rem;
  
}

.MenuItem:hover{
  border-bottom: 1px solid #fff;
}

.MenuItem a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.MenuItemBtn{
  margin-top: 1rem;
}


