.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    max-width: 60rem;
    margin: 3rem auto;
}

.experience h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: rgb(107, 107, 107);
}

.experts {
    display: flex;
    justify-content: center;
    gap: 1rem ;
  
}

.expert {
    position: relative;
    text-align: left;
    transition: transform .2s;
    width: 210px;
}

.expert:hover {
    transform: translateY(-10px);
}

.expert .image {
    width: 200px;
    height: 250px;
    object-fit: cover ;
    border-radius: 2%;
}

.expert .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(107, 107, 107);
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.expert .title {
    font-size: 14.5px;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(107, 107, 107);
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.expert .contact {
    line-height: 1.5;
    font-size: 14.5px;
    font-weight: 500;
    color: rgb(107, 107, 107);
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.expert p {
    margin: 5px 0;
    width: 250px;
}


.expert:hover .socialIcons {
    opacity: 1;
}