.sermon{
    max-width: 60rem;
    margin: 1rem auto;

}

.sermon h1{
    margin-bottom: 23px;
    
    color: rgb(107, 107, 107);
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 26px;
}

.sermon h2{
    margin-bottom: 23px;
    
    color: rgb(107, 107, 107);
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: .9em;
}

.sermon_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.sermon_item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    fill: #666;
    
}

.sermon_item:hover {
    cursor: pointer;
    border-color: #eece9c;
    color: #9d6200;
    fill: #9d6200;
}

.play{
    width: 50px;
}

.sermon_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sermon_duration {
    font-size: 14px;
    color: #666;
}

.sermon_title {
    font-size: 18px;
    font-weight: 120;
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sermon_player {
    margin: 10px 0;
}

.sermon_download {
    display: flex;
    justify-content: flex-end;
}

/* Responsive */
@media (max-width: 600px) {
    .sermon_item {
        padding: 10px;
    }

    .sermon_details {
        flex-direction: column;
        align-items: flex-start;
    }

    .sermon_title {
        font-size: 16px;
    }

    .download_button {
        padding: 8px 16px;
    }
}