.container{
    background-color: rgb(255, 255, 255);
    max-width: 60rem;
    margin-top: -3.5rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 100;
    
}

.wordofday{
    font-size: 3em;
    display: flex;
}

.wordofday h2{
    background-color: #9D6200;
    padding: 2rem;
    color: #fff;
    font-weight: bold;
}

.bible_quote{
    text-align: center;
    padding: 3rem 2rem;
    color:#9D6200;
}

.bible_quote p{
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 1rem;
}

.bible_quote span{
    font-size: 1rem;
}

.other_quote{
    text-align: center;
    padding: 1rem;
}

.other_quote p{
    line-height: 1.5;
    font-weight: 500;
    color: #6b6b6b;
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: .9em;
    margin-bottom: 1rem;

}

.other_quote span{
    font-size: .8em;
    color: rgb(160, 160, 160);
}

